<!DOCTYPE html>
<html lang="en">

<!-- *************************************************************************************************** -->
<!-- ------------------------------------------HEAD-------------------------------------- -->
<!-- *************************************************************************************************** -->
<head th:replace="layout/base::head"></head>
<body>
    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------LOADING-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <div th:replace="layout/base::loading"></div>
    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------LOGIN-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <div th:replace="layout/base::login"></div>

    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------MENU-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <header th:replace="layout/base::menu"></header>
    <!-- ************************************************************************************************************************ -->
    <!-- ************************************************************************************************************************ -->
    <!-- ------------------------------------------------CONTENIDO------------------------------------------- -->



    <!-- ---------------------------------------------FIN-CONTENIDO------------------------------------------- -->
    <!-- ************************************************************************************************************************ -->
    <!-- ************************************************************************************************************************ -->

    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------FOOTER-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <footer th:replace="layout/base::footer"></footer>

    <div class="scroll-to-top">
        <span class="scroll-icon">
            <i class="fa fa-rocket"></i>
        </span>
    </div>
    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------SCRIPT-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <div th:replace="layout/base::script"></div>
</body>

</html>