<!DOCTYPE html>
<html lang="en">

<!-- *************************************************************************************************** -->
<!-- ------------------------------------------HEAD-------------------------------------- -->
<!-- *************************************************************************************************** -->
<head th:replace="layout/base::head"></head>
<body>
    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------LOADING-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <div th:replace="layout/base::loading"></div>
    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------LOGIN-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <div th:replace="layout/base::login"></div>

    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------MENU-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <header th:replace="layout/base::menu"></header>
    <!-- ************************************************************************************************************************ -->
    <!-- ************************************************************************************************************************ -->
    <!-- ------------------------------------------------CONTENIDO------------------------------------------- -->

    <section class="inner-page-banner-section gradient-bg">
        <div class="illustration-img"><img src="assets/images/Save the Earth-bro.png" alt="50%"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="inner-page-content-area">
                        <h2 class="page-title">Imagen</h2>
                        <nav aria-label="breadcrumb" class="page-header-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="home-one.html">Home</a></li>
                                <li class="breadcrumb-item">Imagen</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-section mt-minus pb-120">
        <div class="container">
            <div class="contact-form-area">
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Url</th>
                        <th>Publicación</th>
                        <th>Acciones</th>
                    </tr>
                    <tr th:each="i:${imagenes}">
                        <td th:text="${i.idImagen}"></td>
                        <td th:text="${i.urlImagen}"></td>
                        <!-- <td th:text="${i.publicacion.idPublicacion}"></td> -->
                        <td>
                            <a href="" data-toggle="modal" th:attr="data-target='#modal-edit'+${i.idImagen}"><button
                                    class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg></button>
                            </a>
            
                            <!-- MODAL EDITAR -->
                            <div class="modal fade" tabindex="-1" th:id="modal-edit+${i.idImagen}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Editar Imagen</h5>
                                        </div>
                                        <form th:action="@{/imagen/add}" method="post" th:object="${imagen}">
                                            <div class="modal-body">
                                                <input type="hidden" name="idImagen" th:value="${i.idImagen}">
                                                <label for="">Url</label>
                                                <input type="text" name="urlImagen" th:value="${i.urlImagen}" required>
                                                <!-- <label for="">Publicación</label>
                                                <select name="publicacion" required>
                                                    <option th:value="${i.publicacion.idPublicacion}" th:text="${i.publicacion.idPublicacion}">Seleccionar</option>
                                                    <option th:each="p:${publicaciones}" th:value="${p.idPublicacion}" th:text="${p.idPublicacion}"></option>
                                                </select> -->
                                            </div>
                                        </form>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        <td>
                            <button>
                                <a role="button" th:href="@{/imagen/delete/}+${i.idImagen}"
                                    onclick="return confirm('Estás seguro que quieres eliminar la imagen');">Eliminar</a>
                            </button>
                        </td>
            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- ---------------------------------------------FIN-CONTENIDO------------------------------------------- -->
    <!-- ************************************************************************************************************************ -->
    <!-- ************************************************************************************************************************ -->

    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------FOOTER-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <footer th:replace="layout/base::footer"></footer>

    <div class="scroll-to-top">
        <span class="scroll-icon">
            <i class="fa fa-rocket"></i>
        </span>
    </div>
    <!-- *************************************************************************************************** -->
    <!-- ------------------------------------------SCRIPT-------------------------------------- -->
    <!-- *************************************************************************************************** -->
    <div th:replace="layout/base::script"></div>
</body>

</html>